.home-blog {
  padding-top: 50px;
  width: $web_width;
}

.home{
  .button-black{
    position: absolute;
  }
}

.left-home, .no-results{
  display: inline-block;
  width: 73%;
  border-right: $solid-border;
  padding: 48px 56px 48px 0px;
  min-height: 815px;
}

.right-home{
  float: right;
  width: 23%;
  padding-top: 48px;
  h1{
    line-height: 1.25;
  }
}

.entry-header{
  img{
    width: 1500px;
    height: 100%;
  }
  h2{
    width: 75%;
  }

}

.entry-meta{
  background-color: $brand_green;
  bottom: 0;
  color: $main_background_color;
  display: inline-block;
  font-family: 'Novecento Sans Web',sans-serif;
  padding: .5rem 1.5rem;
  position: absolute;
  right: 0;
  bottom: 7px;
  text-transform: uppercase;
  a{
    color: $main_background_color;
  }
}

.widget-area{
  float: right;
  h3{
    font-size:1.5rem;
  }
}


.post-template-default{
  .site-content{
    max-width: $web_width;
    margin: 50px auto;
  }
}

.single-adventures {
  h2{
    color: black;
  }
}