.home-blog {
  padding-top: 50px;
  width: 1120px;
}

.left-home{
  display: inline-block;
  width: 73%;
  border-right: 1px solid #e1e1e1;
  padding: 48px 56px 48px 0px;

}

.right-home{
  float: right;
  width: 23%;
  padding-left: 5%;
  padding-top: 48px;
  h1{
    line-height: 1.25;
  }
}

.entry-header{
  img{
    width: 1500px;
    height: 100%;
  }
  h2{
    width: 75%;
  }

}

.entry-meta{
  background-color: #248a83;
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-family: 'Novecento Sans Web',sans-serif;
  padding: .5rem 1.5rem;
  position: absolute;
  right: 0;
  bottom: 7px;
  text-transform: uppercase;
}

.widget-area{
  float: right;
}


.post-template-default{
  .site-content{
    max-width: 1120px;
    margin: 50px auto;
  }
}