/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Content wrapper */
.content-area{
	margin: 0 auto;
}

.entry-header{
	position: relative;
	z-index: 1;
}

.entry-title-green{
	background-color: $brand_green;
  color: $main_background_color;
  font-size: 2.1rem;
	padding: .75rem 1.5rem;
  position: absolute;
  margin-top: 2.25rem;
  max-width: 75%;
	top: 0;
	left: 0;
	z-index: 99999;
	a{
		color: $main_background_color;
	}
}

.site-header{
	top:0;
	z-index: 99999;
	background-color: hsla(0,0%,100%,.85);
	border-bottom: $solid-border;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wpcf7-form{
	text-transform: uppercase;
}
.comment-required{
	color: $brand_orange;
}

.comment-author-avatar img {
	border-radius: 50%;
	height: 64px;
	margin-right: 1.5rem;
	overflow: hidden;
	width: 64px;
	}

.comment-body{
	display: flex;
	margin-bottom: 24px;
	p {
    margin-bottom: .75rem;
}
}

.comment-list>li {
	border-bottom: 1px solid #e1e1e1;
	list-style-type: none;
}

.children li {
	border-top: 1px solid #e1e1e1;
}

.comment {
	padding-top: 1.5rem;
}

.comment-author cite {
	text-transform: capitalize;
	font-style: normal;
	font-weight: 700;
}

.comment-metadata {
	color: $brand_grey_light;
	margin-bottom: $base__space-unit / 2;
}
