/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Content wrapper */
.content-area{
	max-width: 1120px;
	margin: 0 auto;
}
// .site-main{
// 	width:70%;
// }

// #asideside { 
//   width: 30%;
// }
.entry-header{
	position: relative;
}

.entry-title{
	background-color: #248a83;
  color: #fff;
  font-size: 33.6px;
  font-size: 2.1rem;
	left: 0;
	padding: .75rem 1.5rem;
  position: absolute;
  margin-top: 2.25rem;
  max-width: 75%;
	top: 0;
	a{
		color: white;
	}
}



