.site-footer{
  background-image: url("../../images/dark-wood@2x.png"); 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-info{
  margin: 48px 0;
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  justify-content: space-evenly;
  color: white;
  line-height: 1;
  h3{
  @include font-size(1.2); 
  color:#d99054;
  margin-bottom: $base__space-unit / 2;
  text-transform: uppercase;
  }
  a{
    color: white;
    text-decoration: none;
    text-transform: lowercase;
  }
  span{
    font-weight: bold;
  }
  .widget-area{
    display: flex;
  }
}

.footer-social-media-link{
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 20px;
}

.footer-logo{
  padding-right: 80px;
  margin: 48px 0;
  width:50%;
  text-align: right;
  img{
    max-width: 50%;
  }
}

.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    margin-bottom: $base__space-unit / 3;
 }
 i {
  @include font-size(1.25);
  margin-right: .5rem;
}
}

.entry-footer{
  margin-bottom: 20px;
}