/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $brand_orange;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: $brand_orange;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

.site-header .search-form {
	margin-left: 10px;
	right: 200px;
	top: 200px;
}

.site-header .search-field {
	background-color: transparent;
	background-image: url(search-solid.svg);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	border: none;
	cursor: pointer;
	height: 20px;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}

.site-header .search-field:focus {
	background-color: transparent;
	cursor: text;
	outline: 0;
	width: 230px;
}
.search-form
.search-submit { 
display:none;
}
