.home{
  h2{
    margin-bottom: 3.75rem;
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.blog{
  .entry-content{
    p{
      margin-bottom: 1.5rem;
    }
  }
  article{
    margin-bottom: 4.5rem;
  }
}

.adventure-story{
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  margin: 1.5rem;
  h3, h2{
    font-family: 'Merriweather',serif;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    a{
      color: #fff;
      &:hover {
        color: $brand_yellow;
      }
    }
  }
  .button-white{
    bottom: -25px;
  }
}

.button-inhabitent{
  background: $brand_green;
	border: none;
	border-radius: 0;
	color: white;
	cursor: pointer;
	line-height: 1;
	padding: ($base__space-unit / 2) $base__space-unit;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		background:darken($brand_green, 10%);
    color: white;
    border-color: $brand_green;
  }
}

.button-black{
  @extend .button-inhabitent;
  background: #fff;
  bottom: .75rem;
  left: .75rem;
  border: 1px solid #000;
  color: #000;
  margin-right: 5px;
  }

  .button-white{
    @extend .button-inhabitent;
    border: $solid_border;
    color: #fff;
    background-color:transparent;
    &:hover,
    &:active,
    &:focus {
      background: #248a83;
      color: white;
      border-color: #248a83;
    }
  }

.adventure-blocks{  
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 265px 265px;
  width: 1120px;
  grid-template-areas: 
    "one one two two"
    "one one three four";
  grid-gap: 20px 20px;
  margin-bottom: 30px;
  :first-child{
    grid-area: one;
    object-fit: cover;
  }

  :nth-child(2){
    grid-area: two;
  }
  :nth-child(3){
    grid-area: three;
  }
  :nth-child(4){
    grid-area: four;
  }
  a{
    position: relative;
  }
}

.adventure-single-block:first-child h3{
  font-size: 3rem;
}

.adventure-single-block:nth-child(2) h3{
  font-size: 2.4rem;
}

.adventure-single-block:nth-child(3) h3{
  font-size: 1.6rem;
}

.adventure-single-block:nth-child(4) h3{
  font-size: 1.6rem;
}

.adventure-single-block{
  line-height: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    &:after{
      content: "";
      background: rgba(96,150,179, 0.54);
    }
  img{
    left: 50%;
    max-height: 620px;
    max-width: none;
    position: absolute;
    top: 75%;
    transform: translate(-50%,-75%);
    width: auto;
  }
  h3{
    a{
      color: #fff;
      &:hover {
        color: $brand_yellow;
      }
    }
  }
}



.adventure-blog-wrapper{
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height:721px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 4.5rem;
  .button-inhabitent{
    float: left;
  }
  p{
    font-family: $font__main;
  }
}
