

.adventure-story{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  margin: 1.5rem;
  h3{
    font-family: 'Merriweather Web',serif;
    font-weight: 400;
    margin-top: 24px;
    text-transform: none;
    color: #fff;
  }
}

.button-white{
  border: 1px solid #fff;
  color: #fff;
  background-color:transparent;
}

.adventure-blocks{
  h3:first-child{
    font-size: 48px;
  }
  h3:nth-child(2){
    font-size: 38.4px;
  }
  h3:nth-child(3,4){
    font-size: 25.6px;
  }
  
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 265px 265px;
  width: 1120px;
  grid-template-areas: 
    "one one two two"
    "one one three four";
  grid-gap: 20px 20px;
  margin-bottom: 30px;
  
  :first-child{
    grid-area: one;
    object-fit: cover;
  }
  :nth-child(2){
    grid-area: two;
  }
  :nth-child(3){
    grid-area: three;
    
  }
  :nth-child(4){
    grid-area: four;
  }
  a{
    position: relative;
  }
}

.andventure-single-block{
  line-height: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
  img{
    left: 50%;
    max-height: 620px;
    max-width: none;
    position: absolute;
    top: 75%;
    transform: translate(-50%,-75%);
    width: auto;
  }
}



.adventure-blog-wrapper{
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height:721px;
  margin-bottom: 20px;
  margin: 0 auto;
}
