/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero-front{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../../images/home-hero.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  top: 0;
}

.logo-hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.5rem;
}



.about-content{
  max-width: 100vw;
  margin: 0 auto;
  margin-bottom: 50px;
  header{
    width: 100vw;
    height: 100vh;
    h1{
      color: #fff;
      font-size: 3rem;
    }
  }
  p{
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 300;
    width: 800px;
    text-align: left;
    margin: 10px auto
  }
  h2{
    text-align: center;
    font-size:2.1rem;
  }

}

.about-wrapper{
  padding-top: 98px;
  max-width: 1120px;
  h1{
    margin-top:0px;
    text-align: center;
    font-size:2.4rem;
  }
  nav{
    padding-top:0px;
  }
  .page-description{
    text-align: center;
    margin: 2rem auto 3rem;
    max-width: 800px;
  }
}

.taxonomy-header{
  border-bottom: 1px dashed #c8c8c8;
  margin-bottom: 3rem;
}


.block-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.wrapper-shop{
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}

.shop-items{
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  flex: 0 1 23.5%;
  max-width: 23.5%;
  padding: .75rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 272px;
  a{
    position: relative;
  }
  &:hover{
    border-color:#d99054;
  }
}

.front-journal{
  border: 1px solid #e1e1e1;
  flex: 0 1 32%;
  position: relative;
}

.front-journal-photo{
    height: 250px;
    max-width: none;
    width: auto;
    overflow: hidden;
    img{
      margin-top: -5px;
      height: 100%;
      border-bottom: 5px #e1e1e1 solid;
    }
}

.front-journal-title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size:20.8px;
  font-weight: bold;
    a:hover{
      color: $brand_purple;
    }
}

.front-journal-info{
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  align-items:left; 
  text-align: left;
  height: 162px;
}

.front-journal-btn{
  background: $brand_green;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-family: 'Novecento Sans Web',sans-serif;
  font-size: 14.4px;
  font-size: .9rem;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  &:hover,
	&:active,
	&:focus {
		background: darken($brand_green, 10%);
		color: white;
	}
}

.search{
  position: relative;
}


.wrapper-product{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
}

.product-archive-img{
  height:250px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -5px;
    border-bottom: 5px #e1e1e1 solid;
  }
}

.single-product{
  display: flex;
  flex-direction: column;
}
.product-template-default{
  h1{
    font-size: 2.4rem;
    line-height: 1.25;
    color: $brand_orange;
  }
}
.product-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  font-size: .9rem;
  .product-entry{
    display: inline;
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Merriweather Web',serif;
    padding-right:.25rem;
    &:before{
      float:left;
      white-space: nowrap;
      width:0;
      content: '........................................';
    }
  }
  .price-product{
    float: right;
    background: white;
  }
}
.find-wrapper{
  width:1120px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.find-content{
  text-align: left;
  max-width: 800px;
  margin-bottom: 50px;
  p{
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 300;
  }
  h2{
    font-size:2.1rem;
  }
}



.wpcf7{
  input[type=submit]{
    background: #248a83;
    box-shadow:none;
    color:white;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-family: 'Novecento Sans Web',sans-serif;
      &:hover,
	    &:active,
	    &:focus {
		    background: darken($brand_green, 10%);
		    color: white;
	}
  }
}

.product-single-wrapper{
  margin: 80px auto;
  width: 1120px;
}

.single-product-post{
  display: flex;
  justify-content: space-between;
}

.single-product-img{
  width:43%;
  height: auto;
  overflow: hidden;
}

.single-product-info{
  width: 48%;
  .product-content{
    margin-bottom: 1.5rem;
  }
}

.product-price{
  font-family: 'Novecento Sans Web',sans-serif;
  font-size: 28.8px;
  font-size: 1.8rem;
  margin-top: 0;
  text-transform: uppercase;
}


/* Search Entry */
.social-link-product{
  button{
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    background-color: transparent;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    button:hover{
      background-color: $brand_green;
    }
    i{
      margin-right: 10px;
    }
  }
}

.remove-green{
  background-color: transparent;
  a{
    color: white !important;
  }
}

.transparent-nav{
  background: transparent;
  border-bottom: none;
}

.green-navigation{
  
}