/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $base_font;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-transform: uppercase;
  font-family: 'Novecento sans wide',sans-serif;
	line-height: 1.25;
	font-weight: bold;
  letter-spacing: 2px;
}

/* Copy */

p {
	// margin-bottom: $base__space-unit;
	font-family: $font__inhabitent;
	font-size: 16px ;
	line-height: 1.75;
	margin-bottom: 10px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $main_background_color;
	font-family: $font__main;
	@include font-size(0.9375);
	line-height: $base_line_height;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__main;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $brand_grey_medium;
	cursor: help;
}

mark, ins {
	background: $main_background_color;
	text-decoration: none;
}

big {
	font-size: 125%;
}
